<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Add Business</nb-card-header>
      <nb-card-body>
        <form (ngSubmit)="addBusiness()">
          <div class="form-group">
            <label for="business-name" class="label">Business name</label>
            <input type="text" nbInput fullWidth id="business-name" [(ngModel)]="business.name" name="name"
              placeholder="Business name" required>
          </div>
          <div class="form-group">
            <label for="business-username" class="label">Username</label>
            <input type="text" nbInput fullWidth id="business-username" [(ngModel)]="business.username" name="username"
              placeholder="Username" required>
          </div>
          <div class="form-group">
            <label for="business-password" class="label">Password</label>
            <input type="password" nbInput fullWidth id="business-password" [(ngModel)]="business.password"
              name="password" placeholder="Password" required>
          </div>
          <button type="submit" nbButton status="primary">Add Business</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <nb-card>
    <nb-card-header>
      Available Businesses
    </nb-card-header>
    <nb-card-body>
      <ng2-smart-table [settings]="settings"
  [source]="source"
  (deleteConfirm)="onDeleteConfirm($event)"
  (editConfirm)="onEditConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
</div>
