<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Add Business</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group">
            <label for="business-name" class="label">Business name</label>
            <input type="text" nbInput fullWidth id="business-name" placeholder="Business name">
          </div>
          <div class="form-group">
            <label for="business-email" class="label">Email address</label>
            <input type="email" nbInput fullWidth id="business-email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="business-password" class="label">Password</label>
            <input type="password" nbInput fullWidth id="business-password" placeholder="Password">
          </div>

          <button type="submit" nbButton status="primary">Add Business</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">

  <nb-card>
    <nb-card-header>
      Available Businesses
    </nb-card-header>

    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>

</div>
