<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Add Master Entry</nb-card-header>
      <nb-card-body>
        <form (ngSubmit)="onAddMaster()">
          <div class="form-group">
            <label for="business-select" class="label">Select business</label>
            <select class="form-control" id="business-select" [(ngModel)]="newMaster.businessId" name="businessId">
              <option *ngFor="let business of businesses" [value]="business.businessId">{{ business.name }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="status-radio">Status</label>
            <nb-radio-group [(ngModel)]="newMaster.status" class="status-radio" id="status-radio" name="status">
              <nb-radio [value]="true">Active</nb-radio>
              <nb-radio [value]="false">Inactive</nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group">
            <label for="request-type-radio">Request Type</label>
            <nb-radio-group [(ngModel)]="newMaster.type" class="status-radio" id="request-type-radio" name="type">
              <nb-radio [value]="requestType.PULL">Pull</nb-radio>
              <nb-radio [value]="requestType.PUSH">Push</nb-radio>
              <nb-radio [value]="requestType.BOTH">Both</nb-radio>
            </nb-radio-group>
          </div>

          <button type="submit" nbButton status="primary">Add Master</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <nb-card>
    <nb-card-header>Available Masters</nb-card-header>
    <nb-card-body>
      <ng2-smart-table [settings]="masterSettings" [source]="masterSource" (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
</div>

<div class="row">
  <nb-card>
    <nb-card-header>
      Available Details
    </nb-card-header>

    <nb-card-body>
      <ng2-smart-table [settings]="detailSettings" [source]="detailSource" (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
</div>
